<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body class="bg-dark">

<header th:insert="fragments/general.html :: header"></header>


<div class="container-fluid pl-0">
    <div class="row">

        <div class="col-sm-2.5 px-0">
            <!--            list-group-item-action-->
            <nav class="nav flex-column nav-pills list-group bg-dark ml-0">

                <a class="nav-link  list-group-item  text-white bg-secondary py-5 px-5"
                   th:href="@{/teacher/cockpit}"><h4> AKTUALNY PLAN</h4>
                </a>
                <a class="nav-link list-group-item  text-white bg-secondary py-5 px-5"
                   th:href="@{/teacher/calendar}"><h4>KALENDARZ</h4>
                </a>
                <a class="nav-link list-group-item  text-white bg-secondary py-5 px-5"
                   th:href="@{/teacher/payments}"><h4>OPŁATY</h4>
                </a>
                <a class="nav-link  list-group-item  text-white bg-dark py-5 px-5"
                   th:href="@{/teacher/students}"><h4>STUDENCI</h4>
                </a>
                <a class="nav-link  disabled text-dark  bg-secondary  py-5 px-5" href="#" tabindex="-1"
                   aria-disabled="true">MATERIAŁY</a>
                <a class="nav-link disabled text-dark bg-secondary py-5 px-5" href="#" tabindex="-1"
                   aria-disabled="true">STATYSTYKI</a>

            </nav>
        </div>


        <div class="col-sm-9 text-white bg-dark pl-5 py-5">
            Lekcje indiwidualne
            <a th:href="@{/teacher/students/active}" class="btn btn-info text-uppercase"> Pokaż tylko aktywnych</a>
            <a th:href="@{/teacher/students}" class="btn btn-info text-uppercase"> Pokaż wszystkich </a>
            <span th:text="${onlyActive} ? 'TYLKO AKTYWNI' : 'WSZYSCY'"></span>


            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">IMIĘ</th>
                    <th scope="col">NAZWISKO</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">CENA ZA LEKCJĘ</th>
                    <th scope="col">STATUS</th>
                    <th scope="col">PROFIL</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.getFullName()}"> name</td>
                    <td th:text="${student.nickname}"> name</td>
                    <td th:text="${student.email}">email</td>
                    <td th:text="${student.hasActivatedAccount} ? 'EMAIL POTWIERDZONY' : 'EMAIL NIE POTWIERDZONY'"></td>

                    <td th:if="${student.hasActivatedAccount}==false">
                        <a th:href="@{/teacher/students/confirmEmail/{id}(id=${student.getId()})}"
                           class="btn btn-info text-uppercase"> ZOBACZ PROFIL</a></td>

                    <td><a th:href="@{/teacher/students/{id}/profile(id=${student.getId()})}"
                           class="btn btn-info text-uppercase"> ZOBACZ PROFIL</a></td>
                </tr>

                </tbody>
            </table>

            <div class="text-center">
                <a th:href="@{/teacher/students/find}" class="btn btn-success text-uppercase">Dodaj studenta</a>
            </div>
        </div>
    </div>
</div>


<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>